# Database Configuration
DATABASE_URL=
MAX_RETRIES=
DB_WRITE_BATCH_SIZE=
RETRY_DELAY_BASE_SECONDS=
JITTER_FACTOR=
TIME_IN_DAYS_BEFORE_RECORDS_ARE_PURGED=

# Server Configuration
UVICORN_NUMBER_OF_WORKERS=
CODEXIFY_API_SERVER_LISTEN_PORT=

# SQLite Pragmas
SQLITE_PRAGMA_JOURNAL_MODE=
SQLITE_PRAGMA_SYNCHRONOUS=
SQLITE_PRAGMA_CACHE_SIZE=
SQLITE_PRAGMA_BUSY_TIMEOUT=
SQLITE_PRAGMA_WAL_AUTOCHECKPOINT=

# Model Configuration
DEFAULT_LLM_NAME=
DEFAULT_EMBEDDING_MODEL_NAME=
DEFAULT_MULTI_MODAL_MODEL_NAME=



# Document Processing
MAX_THOUSANDS_OF_WORDs_FOR_DOCUMENT_EMBEDDING=

# LLM Configuration
DEFAULT_COMPLETION_TEMPERATURE=
DEFAULT_MAX_COMPLETION_TOKENS=
DEFAULT_NUMBER_OF_COMPLETIONS_TO_GENERATE=
DEFAULT_EMBEDDING_POOLING_METHOD=
